
doctype html
html(lang=locale)

	head
		meta(charset="utf-8")
		link(rel='stylesheet' type='text/css' href='compiled.css')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js')
		script(src='magic-line.js')


	body(data-target="nav")

		header

			nav

				ul#main

					li
						a(href='#') Beacons

					li
						a(href='#') Destinations

					li
						a(href='#') Metrics

					li
						a(href='#') Help

					li
						a(href='#') Account

					li
						a(href='#') Apps
