
header
	position: relative

	nav
		left: 0
		position: absolute
		right: 0
		top: 0

		ul
			margin: 50px 0
			padding: 0
			position: absolute
			left: 0
			width: 100%

			li
				display: block
				margin: 0 50px 0 0

				a
					text-decoration: none
				
				&#line
					bottom: 20px
					left: 0
					margin: 0
					padding: 0
					position: absolute
					transition: all 300ms ease-out
				
					&:before
						background-color: red
						content: ""
						height: 20px
						left: 0
						position: absolute
						width: 20px
