header
	position: relative

	nav
		left: 0
		position: absolute
		right: 0
		top: 0

		ul
			margin: 50px
			position: absolute
			right: 0
			text-align: right
			width: 600px

			li
				display: inline-block
				font-size: 1em
				padding: 0 20px

				a
					text-decoration: none
				
				&#line
					bottom: -5px
					height: 3px
					left: 0
					margin: 0
					padding: 0
					position: absolute
					transition: all 300ms ease
				
				&#line:before
					background: red none repeat scroll 0 0
					content: ""
					height: 3px
					left: 0
					position: absolute
					width: 100%
				
			
