
doctype html
html(lang=locale)

	head
		meta(charset="utf-8")
		link(rel='stylesheet' type='text/css' href='compiled.css')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js')
		//- script(src='magic-line.js')


	body(data-target="nav")

		header

			nav

				ul#main

					li
						a(href='#') Beacons

					li
						a(href='#') Destinations

					li
						a(href='#') Metrics

					li
						a(href='#') Help

					li
						a(href='#') Account

					li
						a(href='#') Apps



script.
	$(function(){
				$('#main > li > a').click(function(){
					$('#main > li').removeClass('selected');
				$(this).closest('li').addClass('selected');
			  });

			});

	$(document).ready(function() {

		var $el, leftPos,tabSelected,
			$tabsNav = $("#main");

		if ($tabsNav.length > 0) {
			var width = $('#main').width();
			$tabsNav.css('width', width + 'px');


			if(!tabSelected) {
				var tabSelected = $('#main li:first-child');
				tabSelected.addClass('selected');
			}
			if($('#main li#line').length == 0) {
				$tabsNav.append("<li id='line'></li>");
			}

			$("#main #line").css({
				left: tabSelected.position().left,
				width: tabSelected.width()
			}).data("origLeft", $("#line").position().left);
	   
			$("ul#main li").hover(function () {
				$el = $(this);
				width = $el.width();
				$("ul#main li#line").css("width", width);
				leftPos = $el.position().left;
				$("ul#main li#line").css("left", leftPos);

			}, function () {
				$("ul#main li#line").css({
					left: $(".selected").position().left,
					width: $(".selected").width()
				});
			});

		}
	});



